:root {
    /* fonts variables */
    --main-font: 14px "Century Gothic", Futura, sans-serif;

    /* main variables */
    --main-bg-color:       #222222;
    --main-text-color:     #fff;
    --main-contrast-color: #00d8ff;

    /* square variables */
    --square-size:             200px;
    --square-border:           1px solid #fff;
    --square-background-color: #fff;
    --square-hover-color:      rgba(255,255,255,0.1);
}

body {
    margin-top:       2em;
    font:             var(--main-font);
    background-color: var(--main-bg-color);
}

ol, ul {
    padding-left: 50px;
}
li {
    margin-top: 0.7em;
}

.board-row:after {
    content: "";
    clear:   both;
    display: table;
}

.status {
    margin-bottom:  10px;
    text-transform: uppercase;
    text-align:     center;
    font-size:      2em;
    font-weight:    bolder;
    margin-bottom:  20px;
    color:          var(--main-contrast-color);
}

.square {
    float:        left;
    font-weight:  bold;
    text-align:   center;
    margin-right: -1px;
    margin-top:   -1px;
    padding:      0;
    background:   var(--main-bg-color);
    border:       var(--square-border);
    font-size:    var(--square-size);
    line-height:  var(--square-size);
    height:       var(--square-size);
    width:        var(--square-size);
    color:        var(--main-contrast-color);
}

.square:focus {
    outline: none;
}

.square:hover {
    background: var(--square-hover-color);
}

.game {
    display:         flex;
    flex-direction:  row-reverse;
    justify-content: center;
    margin-left:     -160px;
}

.game-content {
    display:         flex;
    flex-direction:  column;
}

.game-info {
    font-size:    1.5em;
    font-weight:  bold;
    margin-right: 30px;
    margin-top:   40px;
    color:        var(--main-text-color);
}

.btn-info {
    background-color: var(--main-contrast-color);
    color:            var(--main-bg-color);
}